/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}



h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

/* a:link ,
'a:visited {

} */



.botao {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
}

.realce-semibold {
  font-weight: 600;
}

/* Cabeçalho */

.cabecalho {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.2rem;
  box-shadow: 0 0.21rem 0.6rem rgba(0, 0, 0, 0.233);
}

nav {
  display: none;
}

nav ul {
  list-style: none;
}

.item-lista-cabecalho a {
  color: #112e61;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.item-lista-cabecalho a:hover ,
.item-lista-cabecalho a:active {
  color: #f60;
}

.item-lista-cabecalho.contem-filhos::after {
  content: "\2bc6";
}

/* Seção Hero */

.hero-paragrafo {
  font-size: 1.9rem;
}

/* Seção Conteúdos Gratuitos */
/* 
.gratuito-h2 {
  font-weight: 400;
  font-size: 3.5rem;
} */

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.gratuito-link-lista {
  font-size: 1.9rem;
  text-decoration: none;
}

/* Seção Diferenciais */

.diferenciais-p {
  font-size: 1.9rem;
}

.diferenciais-h3 {
  color: #005e88;
  font-size: 2.4rem;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-size: 3.5rem;
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

/* Seção O que falam */

/* .oquefalam-realce {
  font-weight: 600;
} */

/* Seção Blog */

.blog-postadoem {
  font-size: 1.5rem;
}

.blog-postadoem a {
  font-weight: 600;
  color: #f7a70c;
  text-decoration: none;
}

.blog-titulopost {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
}

.blog-descricaopost {
  font-size: 1.7rem;
}

/* Seção Como ajudar */

/* .comoajudar-realce {
  font-weight: 600;
} */

.comoajudar-lista,
.comoajudar-paragrafo {
  font-size: 1.9rem;
}

.comoajudar-lista a,
.comoajudar-paragrafo a {
  color: #008ff7;
  font-weight: 600;
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Rodapé */

.rodape-titulo {
  font-weight: 600;
  font-size: 2.2rem;
}

.rodape-subtitulo {
  font-size: 2rem;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-weight: 500;
  font-size: 1.8rem;
}

.rodape-link {
  color: #1a77a4;
}
