/* Sistema de tamanhos
Fontes - Minor Third - 1200 - Em Px
4.4 - 5.4 - 6.4 - 7.7 - 9.2 - 11.1 - 13.3 - 16 - 19.2 - 23 - 27.6 - 33.2 - 39.8 - 47.8 - 57.3 - 68.8 - 82.6

Espaçamentos - Major Third - 1250 - Em Px
3.3 - 4.2 - 5.2 - 6.5 - 8.2 - 10.2 - 12.8 - 16 - 20 - 25 - 31.2 - 39 - 48.8 - 61 - 76.3 - 95.4 - 119.2
*/

/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}



h1 {
  font-size: 3.32rem;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.secao {
  padding: 7.63rem 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

/* a:link ,
'a:visited {
} */


.botao {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
}

.realce-semibold {
  font-weight: 600;
}

/* Cabeçalho */

.cabecalho {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.233);
}

/* Temporário */
nav {
  display: none;
}

nav ul {
  list-style: none;
}

.item-lista-cabecalho a {
  color: #112e61;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.item-lista-cabecalho a:hover ,
.item-lista-cabecalho a:active {
  color: #f60;
}

.item-lista-cabecalho.contem-filhos::after {
  content: "\2bc6";
}

/* Seção Hero */

.secao-hero {
  background-image: url('https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-botao {
  background-image: linear-gradient(180deg, #ff645e,#ff9253);
  color: white;
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
}

.hero-botao:hover {
  background-color: #ff9253 ;
  background-image: none;
  border-bottom: solid 0.4rem #ff9253;
  border-right: solid 0.4rem #ff9253;
}

.hero-paragrafo {
  font-size: 1.9rem;
  line-height: 1.3;
}

.iframe-video {
  aspect-ratio: 16/9;
  width: 42rem;
  border-radius: 2.5rem;
  display: none;
}

/* Seção Conteúdos Gratuitos */
/* 
.gratuito-h2 {
  font-weight: 400;
  font-size: 3.5rem;
} */

.secao-conteudos {
  background-image: url('https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.gratuito-link-lista {
  font-size: 1.9rem;
  text-decoration: none;
}

/* Seção Diferenciais */

.diferenciais-p {
  font-size: 1.9rem;
}

.diferenciais-h3 {
  color: #005e88;
  font-size: 2.4rem;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-size: 3.5rem;
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

/* Seção O que falam */

/* .oquefalam-realce {
  font-weight: 600;
} */

/* Seção Blog */

.blog-postadoem {
  font-size: 1.5rem;
}

.blog-postadoem a {
  font-weight: 600;
  color: #f7a70c;
  text-decoration: none;
}

.blog-titulopost {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
}

.blog-descricaopost {
  font-size: 1.7rem;
}

/* Seção Como ajudar */

/* .comoajudar-realce {
  font-weight: 600;
} */

.comoajudar-lista,
.comoajudar-paragrafo {
  font-size: 1.9rem;
}

.comoajudar-lista a,
.comoajudar-paragrafo a {
  color: #008ff7;
  font-weight: 600;
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Rodapé */

.rodape-titulo {
  font-weight: 600;
  font-size: 2.2rem;
}

.rodape-subtitulo {
  font-size: 2rem;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-weight: 500;
  font-size: 1.8rem;
}

.rodape-link {
  color: #1a77a4;
}
